<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style.css"/>
    <title>
        Los Angeles
    </title>
</head>
    
<div class="topnav">
    <a href="../home.html">Home</a>
    <a href="../index.html">Archive</a> 
    <a class="active" href="../exhibit/index.html"> Exhibits </a>
    <a href="../about_us.html">About Us </a> 
</div>

<div class="page_title">
    <h1>Los Angeles</h1>
</div>
<div class="content">
    <div class="exhibit_items">
                <div class="exhibit_item">
                    <ul>
                        <a href="../losangeles.html"><img style = 'margin-bottom: 2.5em' src="../LA.jpg" width="300" height="300" alt="A white mug with icons depicting California on it. These icons include mountains, a surfboard, and a freeway, all colored in blue and orange. The inside of the mug is blue."> </a>
                        <li><a href="../losangeles.html">Los Angeles Mug Archive</a></li>
                        <li>A white mug with icons depicting Los Angeles on it. These icons include mountains, a surfboard, and a freeway, all colored in blue and orange. The inside of the mug is blue.</li>
                    </ul>
                </div>
    </div>

<h2> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;Narrative</h2>

<p>Starbucks' Been There Series celebrates cities, states, and countries around the world, capturing their essence with distinctive, hand-drawn illustrations. The series offers a refreshing design, standing apart from their traditional mugs, and provides a deep dive into the local flair of each location.</p>

<p>The Los Angeles mug from the Been There Series is a vibrant homage to the City of Angels. Featuring a sun-soaked color palette that reflects the city's famous sunny weather, the design encapsulates both the modern and historic elements that make L.A. unique. One side showcases the iconic Hollywood sign, a symbol of dreams and entertainment. The palm trees, which line the streets of L.A., sway gracefully in the background, while surfboards allude to the city's close connection to the Pacific Ocean and its surf culture.</p>
   
<p>The skyline of downtown Los Angeles, with its skyscrapers, stands tall and proud. Notable landmarks like the Griffith Observatory, offering panoramic views of the city, and the historic Los Angeles Memorial Coliseum, home to numerous historic events, find a place on the mug. Another highlight is the depiction of a vintage movie camera, nodding to L.A.'s deep-rooted history in film and entertainment.</p>

<p>Smaller details such as the taco, paying tribute to the city's rich culinary scene, and the guitar, representing the music culture and festivals, can be found. The phrase "City of Angels" written in a playful script adds a final touch to the design.</p>

<p>This mug not only serves as a perfect coffee companion but also as a keepsake that encapsulates the diverse culture, history, and vibrancy of Los Angeles.</p>

</div>
<h4> </h4>
</html>