<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style.css"/>
    <title>
        New Mexico
    </title>
</head>
    
<div class="topnav">
    <a href="../home.html">Home</a>
    <a href="../index.html">Archive</a> 
\   <a class="active" href="../exhibit/index.html"> Exhibits </a>
    <a About Us> </a> 
</div>

<div class="page_title">
    <h1>New Mexico</h1>
</div>
<div class="content">
    <div class="exhibit_items">
                <div class="exhibit_item">
                    <ul>
                        <a href="../newmexico.html"><img src="../nmfront.jpg" width="300" height="300" alt="A white mug with a tan and orange pueblo on it. There are hot air balloons over the building, and a blue flower in front of it."> </a>
                        <li><a href="../newmexico.html">New Mexico Mug Archive</a></li>
                        <li>A short white mug with a pueblo landscape wrapping around the sides. The design is made in orange, blue, and tan, depicting a pueblo with hot air balloons flying overhead. A bright orange sun floats over a blue roadrunner next to the building. The inside of the mug is blue.</li>
                    </ul>
                </div>
    </div>

<h2>Narrative</h2>

<p>insert narrative</p>

    </div>

</html>