<!doctype html>
<html lang="en">
<center>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>
        About Us
    </title>
</head>

<div class="topnav">
    <a href="home.html">Home</a>
    <a href="archive.html">Archive</a> 
    <a href="exhibit.html"> Exhibits </a>
    <a class="active" href="about_us.html">About Us </a> 
</div>

<div class="page_title">
    <h1>About Us</h1>
</div>

<div class="bio">
    <table>
        <thead>
            <th>Litzy Cerezo</th>
            <th>Katie Gonzales</th>
        </thead>
        <tbody>
                <td>Litzy is a second-year Nuclear Engineering major at UC Berkeley. 
                    She contributed the Los Angeles mug and the Django component of the archive.</td>
                <td>Katie is a second-year English major at UC Berkeley. 
                    She was in charge of the mugs from Boston and New Mexico, 
                    and helped Jenny create the HTML for this archive.</td>
        </tbody>
    </table>

    <br>

    <table>
        <thead>
            <th>Cindy Nguyen</th>
            <th>Jenny Wang</th>
        </thead>
        <tbody>
                <td>Cindy is a fourth-year Molecular and Cell Biology major at UC Berkeley. 
                    She contributed the Sacramento State mug, created the 3D models, and 
                    assisted with the programming aspects.</td>
                <td>Jenny is a fourth-year Data Science and Art History major at UC Berkeley. 
                    She was in charge of the California mug and worked on the HTML and CSS 
                    components of the project with Katie.</td>
        </tbody>
    </table>
</div>
</center>
</html>