<!doctype html>
<center>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>
        Archive
    </title>
</head>

<div class="topnav">
    <a href="home.html">Home</a>
    <a class="active" href="index.html">Archive</a> 
    <a href="exhibit\index.html"> Exhibits </a>
    <a href="about_us.html"> About Us </a> 
</div>

<div class="page_title">
    <h4> </h4>
    <h1 style="margin-right: 15em;">Archive</h1>
    <h4> </h4>
    <h4> </h4>
</div>

<div class="content" stlyle = "margin-bottom:10em">
    <h4> </h4>
    <h2 style="margin-right: 40em;">
        The Tiny Mug Archive is a digital archive of a small number of Starbucks mugs. 
        <br>They are all from different locations, and some are from different series than others.
    </h2>
    <h4> </h4>
    <table> 
        <thead class = "th" style = "margin-right:3em">
            <h4> </h4>
            <th> Preview&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th> Location&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
        </thead>
        <br>
        <div>
        <tbody>
            <h4> </h4>
            <tr class = "td">
                <td><a href="boston1.html"><img style="margin-right:5em" src="bostonthumbnail.jpg" width="280" height="280"></a></td>
                <td><a href="boston1.html">Boston </a></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Starbucks mug from the Architecture series, 
                    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;made in 2006.</td>
            </tr>
            <tr class = "td" style = "margin-left:3em">
                <td><a href="newmexico.html"><img style="margin-right:5em" src="nmfront.jpg" width="280" height="280"></a></td>
                <td><a href="newmexico.html">New Mexico</a></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Starbucks mug from the You Are Here series,
                    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;made in 2015.</td>
            </tr>
            <tr class = "td" style = "margin-left:3em">
                <td><a href="sacramento.html"><img style="margin-right:5em" src="sacfront.jpg" width="280" height="280"></a></td>
                <td><a href="sacramento.html">Sacramento State</a></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Starbucks mug from the Been There series, 
                    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;made in 2022.</td>
            </tr>
            <tr class = "td" style = "margin-left:3em">
                <td><a href="losangeles.html"><img style="margin-right:5em" src="LA.jpg" width="280" height="280"></a></td>
                <td><a href="losangeles.html">Los Angeles</a></td>
                <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Starbucks mug from the Been There series, 
                    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;made in 2019.</td>
            </tr>
            <tr class = "td" style = "margin-left:3em">
                <td><a href="ca.html"><img style="margin-right:5em" src="cafront.jpg" width="280" height="280"></a></td>
                <td><a href="ca.html">California</a></td>
                <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Starbucks mug from the Been There series, 
                    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;made in 2023.</td>
        </tbody>
    </table>
    <h4 class = "head_italic"> More Coming... </h4>
</center>
</html>