<!doctype html>
<html lang="en">
<center>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>
        Archive
    </title>
</head>

<div class="topnav">
    <a href="home.html">Home</a>
    <a class="active" href="archive.html">Archive</a> 
    <a href="exhibit.html"> Exhibits </a>
    <a href="about_us.html">About Us </a> 
</div>

<div class="page_title">
    <h1>Archive</h1>
</div>

<div class="arch">
    <p>
        The Tiny Mug Archive is a digital archive of a small number of Starbucks mugs. They are all from different locations, and some are from different series than others. 
    </p>
        <table>
        <thead>
            <th> Location </th>
            <th> Preview </th>
            <th> Description </th>
        </thead>
        <tbody>
            <tr>
                <td><a href="boston1.html">Boston</a></td>
                <td><a href="boston1.html"><img src="bostonthumbnail.jpg" width="200" height="200"></a></td>
                <td>Starbucks mug from the <em>Architecture</em> series, made in 2006.</td>
            </tr>
            <tr>
                <td><a href="newmexico.html">New Mexico</a></td>
                <td><a href="newmexico.html"><img src="nmfront.jpg" width="200" height="200"></a></td>
                <td>Starbucks mug from the <em>You Are Here</em> series, made in 2015.</td>
            </tr>
            <tr>
                <td><a href="sacramento.html">Sacramento State</a></td>
                <td><a href="sacramento.html"><img src="sacfront.jpg" width="200" height="200"></a></td>
                <td>Starbucks mug from the <em>Been There</em> series, made in 2022.</td>
            </tr>
            <tr>
                <td><a href="losangeles.html">Los Angeles</a></td>
                <td><a href="losangeles.html"><img src="LA.jpg" width="200" height="200"></a></td>
                <td>Starbucks mug from the <em>Been There</em> series, made in 2019.</td>
            </tr>
            <tr>
                <td><a href="ca.html">California</a></td>
                <td><a href="ca.html"><img src="cafront.jpg" width="200" height="200"></a></td>
                <td>Starbucks mug from the <em>Been There</em> series, made in 2023.</td>
            </tr>
        </tbody>
    </table>
</div>
</center>
</html>