<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css"/>
    <title>
        California
    </title>
</head>

<div class="topnav">
    <a href="home.html">Home</a>
    <a class="active" href="archive.html">Archive</a> 
    <a href="exhibit.html"> Exhibits </a>
    <a href="about_us.html">About Us </a> 
</div>

<div class="page_title">
    <h1>California - 2023 Been There Series</h1>
</div>

<div class="content">
    <div class="image">
        <div class = "gallery"></div>
            <img src="cafront.jpg" width="300" height="300" alt=""> 
            <img src="caback.jpg" width="300" height="300" alt=""> 
        </div>
    </div>

    <div class="info">
        <ul>
            <li>Brand: Starbucks</li>
            <li>Series: Been There Series</li>
            <li>Collection: State Collection</li>
            <li>Material: Ceramic</li>
            <li>Dimensions: 5.7 in. W x 3.8 in. H</li>
            <li>Capacity: 14 fl. oz.</li>
            <li>Year Made: 2023</li>
            <li>Description: <p>A mug that captures the coastal charms of California with its iconic landmarks in yellow and red on the white background.             </p> </li>
            
            <div class="sketchfab-embed-wrapper"> 
                <iframe title="California State Mug" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" 
                allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share 
                src="https://sketchfab.com/models/37a822c3f9d24490bfcb38d83035fac8/embed"> 
                </iframe> <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> 
                <a href="https://sketchfab.com/3d-models/california-state-mug-37a822c3f9d24490bfcb38d83035fac8?utm_medium=embed&utm_campaign=share-popup&utm_content=37a822c3f9d24490bfcb38d83035fac8" 
                target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> California State Mug </a> by 
                <a href="https://sketchfab.com/jenny_wang?utm_medium=embed&utm_campaign=share-popup&utm_content=37a822c3f9d24490bfcb38d83035fac8" 
                target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> jenny_wang </a> on 
                <a href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=37a822c3f9d24490bfcb38d83035fac8" target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p></div>

        </ul>
        <dl>
            <dd>Brand: Starbucks</dd>
            <dd>Series: Been There Series</dd>
            <dd>Collection: State Collection</dd>
            <dd>Material: Ceramic</dd>
            <dd>Dimensions: 5.7 in. W x 3.8 in. H</dd>
            <dd>Capacity: 14 fl. oz.</dd>
            <dd>Year Made: 2023</dd>
            <br>
            <dd>Description: A mug that captures the coastal charms of California with its iconic landmarks in yellow and red on the white background.</dd>
        </dl>
    </div>
    
</div>

</html>