<!doctype html>
<html lang="en">

<center>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css"/>
    <title>
        Exhibits
    </title>
</head>

<div class="topnav">
    <a href="home.html">Home</a>
    <a href="archive.html">Archive</a> 
    <a class="active" href="exhibit.html"> Exhibits </a>
    <a href="about_us.html">About Us </a> 
</div>

<div class="page_title">
    <h1>Exhibits</h1>
</div>

<div class="content">
    <ul>
        <div class="exhibit"><a href="exhibit/boston.html"><h4>Boston</h4></a> Starbucks mug from the <em>Architecture</em> series, made in 2006. </div>

        <div class="exhibit"><a href="exhibit/newmexico.html"><h4>New Mexico</h4></a> Starbucks mug from the <em>You Are Here</em> series, made in 2015. </div>

        <div class="exhibit"><a href="exhibit/sacramento.html"><h4>Sacramento State</h4></a> Starbucks mug from the <em>Been There</em> series, made in 2022. </div>

        <div class="exhibit"><a href="exhibit/losangeles.html"><h4>Los Angeles</h4></a> Starbucks mug from the <em>Been There</em> series, made in 2019. </div>

        <div class="exhibit"><a href="exhibit/ca.html"><h4>California</h4></a> Starbucks mug from the <em>Been There</em> series, made in 2023. </div>
    </ul>

</div>

</center>

</html>

