<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>
        The Tiny Mug Library
    </title>
</head>

<div class="topnav">
    <a class="active" href="home.html">Home</a>
    <a href="index.html">Archives</a> 
\   <a href="exhibit\index.html"> Exhibits </a>
    <a About Us> </a> 
</div>

<div class="center">
   <h1> The Tiny Mug Library </h1>
</div>

<div>
    <ul>
       Tiny Archive Project for DIGHUM 150A 
       <br>
       Group Members: Litzy Cerezo, Katie Gonzales, Cindy Nguyen, Jenny Wang 
    </ul>
</div>

<div class = "center">
    <img src = "home mug1.jpeg" alt = "Cover" width = "450" height = "400">
    <img src = "home mug2.jpg" alt = "Title" width = "500" height = "400">
    <h2> Welcome to the Tiny Mug Library! We are happy to meet you! We are small, but still growing.</h2>
</div>
    

<h3 class = "head_italic"> Introduction </h3>
<div class = "tb">
    <p> The objects we are digitizing are location-specific mugs. Preserving information on these types of mugs is important 
        because each and every one has similarities and differences amongst their locations and brands. Mugs that showcase specific 
        locations are particularly important as they highlight how cities are perceived through the years. For example, a mug portraying 
        New York City from 1990 would surely include a skyline with the World Trade Center towers, whereas a mug from 2010 would have a l
        ower probability of having that depiction. Mugs may show parts of a city deemed important, therefore displaying years of history on 
        a small scale. Since they are considered delicate items, preserving mugs digitally guarantees that they will never break.
    </p>
</div>

<h3 class = "head_italic"> What We Did </h3>
<div class = "tb">
    <p> Some metadata we will include about each item include the represented location, its branding, 
        and year of creation or design. These aspects are the most important because identifying a mug 
        in the future would be more challenging if one piece of information was not specified. Of these 
        objects, we will display mugs from five distinctive locations on our exhibit page. We will write 
        narratives about every mug, being sure to detail specific landmarks pictured. Additionally, we will 
        attempt to compare our mugs to older and/or newer ones that showcase different landmarks to show how a 
        specific area has changed throughout time. 
    </p>
</div>


</html>