<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>
        The Tiny Mug Library
    </title>
</head>

<div class="page_title">
   <h1> The Tiny Mug Library </h1>
</div>

<div class="intro">
    Welcome to the Tiny Mug Library! We are happy to meet you! We are small, but still growing.
</div>

<ul>
    <li><a href="index.html">Archives</a> </li>
    <li> <a href="tinyarchive\exhibit\index.html"> Exhibits </a></li>
    <li> About Us </li>
</ul>

</html>