<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css"/>
    <title>
        Los Angeles
    </title>
</head>

<div class="topnav">
    <a href="home.html">Home</a>
    <a class="active" href="archive.html">Archive</a> 
    <a href="exhibit.html"> Exhibits </a>
    <a href="about_us.html">About Us </a> 
</div>

<div class="page_title">
    <h1>Los Angeles - 2019 Been There Series</h1>
</div>

<div class="content">
    <div class="image">
        <div class = "gallery"></div>
            <img src="LA.jpg" width="300" height="300" alt="A white mug with icons depicting California on it. These icons include mountains, a surfboard, and a freeway, all colored in blue and orange. The inside of the mug is blue."> 
        </div>
    </div>

    <div class="info">
        <ul>
            <li>Brand: Starbucks</li>
            <li>Series: Been There Series</li>
            <li>Collection: City Collection</li>
            <li>Material: Ceramic</li>
            <li>Dimensions: 5.7 in. W x 3.8 in. H</li>
            <li>Capacity: 14 fl. oz.</li>
            <li>Year Made: 2019</li>
            <li>Description: A white mug with icons depicting Los Angeles on it. These icons include mountains, a surfboard, and a freeway, all colored in blue and orange. The inside of the mug is blue.</li>
        </ul>
    </div>

    
</div>

</html>