<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css"/>
    <title>
        New Mexico
    </title>
</head>

<div class="topnav">
    <a href="home.html">Home</a>
    <a class="active" href="../archive/index.html">Archive</a> 
    <a href="exhibit\index.html"> Exhibits </a>
    <a href="about_us.html">About Us </a> 
</div>

<div class="page_title">
    <h1>New Mexico - 2015 You Are Here Series</h1>
</div>

<div class="content">
    <div class="image">
        <div class = "gallery"></div>
            <img src="nmfront.jpg" width="300" height="300" alt="A white mug with a tan and orange pueblo on it. There are hot air balloons over the building, and a blue flower in front of it."> 
            <img src="nmback.jpg" width="300" height="300" alt="A white mug with a blue roadrunner under an orange sun on it. 'Starbucks' is printed on the side of the mug in black ink."> 
        </div>
    </div>

    <div class="info">
        <ul>
            <li>Brand: Starbucks</li>
            <li>Series: You Are Here Series</li>
            <li>Material: Ceramic</li>
            <li>Dimensions: 5.7 in. W x 3.8 in. H</li>
            <li>Capacity: 14 fl. oz.</li>
            <li>Year Made: 2015</li>
            <li>Description: <p>A short white mug with a pueblo landscape wrapping around the sides. The design is made in orange, blue, and tan, depicting a pueblo with hot air balloons flying overhead. A bright orange sun floats over a blue roadrunner next to the building. The inside of the mug is blue.</p> </li>
            </div>
        </ul>
    </div>

    
</div>

</html>