<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css"/>
    <title>
        Sacramento State
    </title>
</head>

<div class="topnav">
    <a href="home.html">Home</a>
    <a class="active" href="archive.html">Archive</a> 
    <a href="exhibit.html"> Exhibits </a>
    <a href="about_us.html">About Us </a> 
</div>

<div class="page_title">
    <h1>Sacramento State - 2022 Been There Series</h1>
</div>

<div class="content">
    <div class="image">
        <div class = "gallery"></div>
            <img src="sacfront.jpg" width="300" height="300" alt=""> </a>
            <img src="sacback.jpg" width="300" height="300" alt=""> </a>
        </div>
    </div>

    <div class="info">
        <ul>
            <li>Brand: Starbucks</li>
            <li>Series: Been There Series</li>
            <li>Collection: Campus Collection</li>
            <li>Material: Ceramic</li>
            <li>Dimensions: 5.8 in. W x 3.9 in. H</li>
            <li>Capacity: 14 fl. oz.</li>
            <li>Year Made: 2022</li>
            <li>Description: A white mug with many icons representing CSU Sacramento. Elements include the notable hand sign alongside Sac States’ slogan, “Stingers Up!”, rumbles the spirit of Sacramento State supporters; the gate with a similar outlook as the Golden Gate Bridge connects the campus with the neighborhood; the Phlagleblast Game Card represents the scavenger hunt around the University Union to assist with familiarization; the WELL engages the campus community. </li>

            <!--if a 3d model exists, insert an iframe to a url for it. This code assumes that the sketchfab embedding code will work. 
            IF you would like it to be bigger or otherwise different in appearance, style the class sketchfab_embed_wrapper element
            with CSS-->
            <div class="sketchfab-embed-wrapper">
                <iframe title="Railroad Spike" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="{{item.3dmodel}}/embed">  </iframe> 
                <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> 
                    <a href="https://sketchfab.com/3d-models/sacramento-state-mug-2116923f35a4475aa20f13e966a3b229" target="_blank">Sacramento State Mug on Sketchfab</a>
                </p>
            </div>
        </ul>
    </div>

    
</div>

</html>